<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
    <h2>Login Page</h2>

    <input type="text" id="username" placeholder="Username"><br><br>
    <input type="password" id="password" placeholder="Password"><br><br>

    <button onclick="login()">Login</button>

    <p id="result"></p>

    <p>Don't have an account? <a href="/signup-page">Sign up</a></p>

    <script>
        async function login() {
            let username = document.getElementById("username").value;
            let password = document.getElementById("password").value;

            let res = await fetch("/login", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    message: username + "," + password
                })
            });

            let data = await res.json();

            document.getElementById("result").innerText = data.message;

            if (data.message === "Login successful") {
                window.location.href = "/chat-page";
            }
        }
    </script>
    </div>
</body>
</html>