<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
</head>
<body>
    <h2>Signup Page</h2>

    <input type="text" id="username" placeholder="Username"><br><br>
    <input type="password" id="password" placeholder="Password"><br><br>

    <button onclick="signup()">Sign Up</button>

    <p id="result"></p>

    <p>Already have an account? <a href="/login-page">Login</a></p>

    <script>
        async function signup() {
            let username = document.getElementById("username").value;
            let password = document.getElementById("password").value;

            let res = await fetch("/signup", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    message: username + "," + password
                })
            });

            let data = await res.json();
            document.getElementById("result").innerText = data.message;
        }
    </script>
</body>
</html>